{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="container border bg-light">
  <div class="row mt20">
    <div class="col">
      <table class="table table-info table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        {% for todo in todos %}
        <tbody>
          <tr>
            <td class="mt20">{{todo.title}}</td>
            <td>{{todo.content}}</td>
            <td>{{todo.created_at}}</td>
            <td><a class="btn btn-info" href="{% url 'edit_todo' todo.id %}">Edit</a></td>
            <td><form method="POST" action="{% url 'remove' todo.id %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="Delete">
            </form></td>

          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>



<div class="container border mt20">
  <div class="row">
    <h3 class="alert alert-success mt20 mb20"> Add Your Todo</h3>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <input type="submit" class="btn btn-success" value="Submit">
      </form>
    </div>
  </div>
</div>

{% endblock %}
