<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iBlog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'img/favicon.png' %}" rel="icon"> -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

  <!-- Comments section CSS -->
  <link href="{% static 'css2/style.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">iBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% else %}
            <li class="nav-item  me-2">
              <a class="nav-link" href="{% url 'registerUser' %}">Sign Up</a>
            </li>
            {% endif %}
            {% if user.id is None %}
            <li class="nav-item  me-2">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% else %}
            <li class="nav-item  me-2">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todo' %}">Todo</a>
            </li>
            <p class="nav-link">Welcome[{{user.username}}]</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</div>
    <div class="container mt20">
      <!-- <div class="row"> -->




      <nav class="navbar navbar-light">

        <div class="container-fluid">
          {% if user.is_authenticated %}
          <form class="d-flex form-padding" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2 input-flexible" type="search" placeholder="Search" name="keyword" aria-label="Search">
            <button class="btn btn-outline-success button-flexible" type="submit">Search</button>
          </form>
          {% endif %}
        </div>
      </nav>
    </div>
  <!-- </div> -->

    {% block content %}


    {% endblock %}

    <!-- Footer Section -->
    <div class="contrainer">
      <div class="credits text-center mt20 mb20">
        Designed by <a class="" href="https://bootstrapmade.com/">PankajMehra</a>
      </div>
    </div>


  <!-- JavaScript -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/b81fc14a1a.js" crossorigin="anonymous"></script>
</body>

</html>
